<div class="flash flash--<%= @type %>" data-controller="flash-component">
  <button class="flash__button" type="button" data-action="flash-component#close"><%= helpers.svg_tag("x-mark") %></button>
  <p class="s-paragraph cl-neutral-950"><%= @message %></p>
</div>
