.password {
  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  &:has(input[type="text"]) {
    button svg:nth-child(1) {
      display: none;
    }
  }

  &:has(input[type="password"]) {
    button svg:nth-child(2) {
      display: none;
    }
  }

  &:has(input[type="password"]:disabled) {
    button {
      pointer-events: none;
    }
  }
}
